#row4{
    width: 400px;
    height: 100px;
    background-color:white;
    margin: 30px;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
}#row3{
    width: 400px;
    height: 100px;
    background-color:pink;
    margin: 30px;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
}
#row2{
    width: 400px;
    height: 100px;
    background-color:lightblue;
    margin: 30px;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
}
.container{
    width: 400px;
    height: 500px;
    background-color: white;
}
h1{
    text-align: center;
}
img{
    width: 75px;
    height: 75px;
}